In [1]:
from surprise import Dataset,Reader
from surprise import KNNBasic
from surprise import SVD, evaluate
import pandas as pd

In [2]:
ratings = pd.read_csv('train/train.csv') # reading data in pandas df
ratings.head(5)

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [3]:
ratings_dict = {'itemID': list(ratings.joke_id),
                'userID': list(ratings.user_id),
                'rating': list(ratings.Rating)}
df = pd.DataFrame(ratings_dict)
df.head(5)

   itemID  rating  userID
0     110   2.750   31030
1     109   5.094   16144
2       6  -6.438   23098
3      86   4.406   14273
4     134   9.375   18419

In [4]:
# A reader is still needed but only the rating_scale param is required.
# The Reader class is used to parse a file containing ratings.
reader = Reader(rating_scale=(-10.0, 10.0))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df[['userID', 'itemID', 'rating']], reader)
# data.split(n_folds=5)
trainset = data.build_full_trainset()

In [5]:
# algo = SVD()
# evaluate(algo, data, measures=['RMSE'])

In [6]:
from surprise import NMF
algo = NMF()
# evaluate(algo2, data, measures=['RMSE'])

In [7]:
# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
print("fit")
print(algo.predict(1,3))
# predictions = algo.test(testset)

test_df = pd.read_csv("test.csv")
print(test_df.head(5))

fit
user: 1          item: 3          r_ui = None   est = -5.66   {'was_impossible': False}
          id  user_id  joke_id
0    6194_11     6194       11
1    19356_3    19356        3
2   23426_79    23426       79
3    40030_3    40030        3
4  19806_115    19806      115

In [8]:
def label_rating(row):
    return algo.predict(row['user_id'],row['joke_id'])[3]

test_df['Rating'] = test_df.apply (lambda row: label_rating (row),axis=1)

print(test_df.head(5))

sub_df = test_df.drop('user_id',1)

sub_df = sub_df.drop('joke_id',1)

sub_df.to_csv('outNMF.csv',index=False)

          id  user_id  joke_id    Rating
0    6194_11     6194       11 -3.610444
1    19356_3    19356        3 -4.674899
2   23426_79    23426       79 -2.852212
3    40030_3    40030        3 -9.438854
4  19806_115    19806      115 -1.478187

In [10]:
sub_df.head(15)

           id    Rating
0     6194_11 -3.610444
1     19356_3 -4.674899
2    23426_79 -2.852212
3     40030_3 -9.438854
4   19806_115 -1.478187
5    10487_45 -3.478285
6     19959_8 -5.122503
7    10979_66 -3.764309
8     34886_6 -2.387324
9    4729_103 -4.807026
10   29445_94 -3.599462
11    5071_22 -8.374789
12   17619_87 -3.125501
13   35698_59  0.158426
14  24721_125 -5.070324